<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processor - Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Image Processor</h1>
        <p>Convert and compress your images easily.</p>
        <a href="/upload" class="main-btn">Convert Your Image</a>
        <a href="/resize" class="main-btn">Resize Image</a>
        <a href="/video" class="main-btn">Video to Images</a>
    </div>
</body>
</html>
